<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-extention-store" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>extentions</name>
    <js-module name="store" src="www/store.js">
        <clobbers target="cordova.extention.store" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <!-- package path -->
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ExtentionStore">
                <param name="android-package" value="com.aiesst.extentions.ExtentionStore" />
            </feature>
        </config-file>
        <source-file src="src/android/CordovaActivityManager.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/CordovaFragmentManager.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/Extension.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/ExtensionStore.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/GetStoreData.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/JavaDataStore.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/JsDataStore.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/SetStoreData.java" target-dir="src/com/aiesst/extensions/" />
        <source-file src="src/android/SweetsSDK.java" target-dir="src/com/aiesst/extensions/"/>
        <!-- android permission description -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ExtentionStore">
                <param name="ios-package" value="ExtentionStore"/>
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaManager.m"/>
        <source-file src="src/ios/ExtentionStore.m"/>
        <source-file src="src/ios/Store.m"/>
    </platform>
</plugin>